.home-screen-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.full-screen-container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5vw;
}

.off-black {
    background-color: #101010;
}

.header {
    font-size: 5vw;
}

.subheader {
    font-size: 1.5vw;
}

.image {
    border: 0.8vw solid black;
    border-radius: 1vw;
}

.card-title {
    font-size: 3vw;
}

.card-text {
    font-size: 1.2vw;
}

.resume {   
    padding-left: 20vw;
}

.custom-link {
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.button-row {
    display: flex;
    gap: 20px;
}
.button-row a {
    text-decoration: none;
}

